@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poiret+One&family=Spirax&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Generall css */

:root {
  font-size: 18px;
}

body {
  background-color: rgb(228, 226, 226)
}

header {
  display: flex;
  align-items: center;
  width: 845px;
}

#nav-meny {
  color: rgb(30, 30, 30);
  font-size: larger;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 10%;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

#nav-meny a:visited {
  color: inherit;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
}

.nav-link.active {
  text-decoration: underline;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
}

h4 {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;

  font-weight: 100;
}

/* Image css */

#linkLogos {
  margin-left: 10%;
}

#linkLogos img {
  width: 60px;
  height: auto;
  margin-right: 2vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.avatar {
  width: 400px;
  height: auto;
  margin-left: 17%;
}

/* About me page */

#aboutMeText {
  background-color: rgb(207, 176, 176);
  margin-left: 10%;
  width: 40%;
  padding: 2vh;
}